<!DOCTYPE html>
{% include 'partials/head-meta.html' %}

<body>

  {% include 'partials/header.html' %}

  <main>
    <h1>
      {{ title }}
    </h1>
    <br/>
    {{ content | safe }}
  </main>

  {% include 'partials/darkmode.html' %}

</body>
</html>