<!DOCTYPE html>
{% include 'partials/head-meta.html' %}

<body class="d-flex flex-column h-100 page light background">

{% include 'partials/header.html' %}

<main class="flex-shrink-0">
    <h1>
        {{ title }}
    </h1>
    <em class="date">
        Posted on {{ page.date | postDate }}
    </em>
    <br/>
    <br/>

    {{ content | safe }}
    
    
</main>

{% include 'partials/scripts.html' %}

<br />
<br />
<footer class="footer mt-auto py-3">
	<div class="container">
			{% if prevPost.url %}
    			<a href="{{ prevPost.url }}">
    			<i class="bi bi-chevron-left"></i>previous post
    			</a>
			{% endif %}
			&ensp;&ensp;&ensp;&ensp;
			{% if nextPost.url %}
    			<a href="{{ nextPost.url }}">
    			next post<i class="bi bi-chevron-right"></i></a>
			{% endif %}
	</div>
</footer>

</body>
</html>