<!DOCTYPE html>
{% include 'partials/head-meta.html' %}

<body class="d-flex flex-column h-100">

  {% include 'partials/header.html' %}

  <main class="flex-shrink-0">
    <h1>
      {{ title }}
    </h1>
    <em class="date">
        Posted on {{ page.date | postDate }}
    </em>
    <br/>
    <br/>

    {{ content | safe }}
  </main>

  {% include 'partials/darkmode.html' %}

  <footer class="footer mt-auto py-3" id="footer">
      
  </footer>

</body>
</html>