<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content=
"width=device-width, initial-scale=1.0">
    <title>
      {{ title }}
    </title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src=
"https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity=
"sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../../css/style.css">

  </head>
  <body>

    <header>
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: black !important;">
        <div class="container-fluid">
          <button style="border:" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="text-light navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand text-light" href="/">Milav's Blog</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link text-light" aria-current="page" href="#">Posts</a>
              </li>

            </ul>
            <div class="form-check text-light">
              <input id="dark-toggle" onclick="darkmode.toggle();" class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Dark Mode 
              </label>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <h1>
        {{ title }}
      </h1>
      <em class="date">
        Posted on {{ page.date | postDate }}
      </em>
      <br/>
      <br/>

      {{ content | safe }}
    </main>


    <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
    <script>
      const darkmode = new Darkmode();

      if (darkmode.isActivated()) {
        document
          .getElementById("dark-toggle")
          .checked = true;
      } else {
        document
          .getElementById("dark-toggle")
          .checked = false;
      }
    </script>
  </body>
</html>