.light {
  --main-bg-color: white;
  --main-content-color: black;
  --main-link-color: #0072fd;
  --main-dim-color: #737373;
}

.dark {
  --main-bg-color: black;
  --main-content-color: white;
  --main-link-color: #00a4ff;
  --main-dim-color: #b5b6b7;
}


#nav {
  background-color: var(--main-bg-color);
  color: var(--main-dim-color);
}

.nav-text {
    color: var(--main-dim-color);

}

.dev {
  font-family: ui-monospace, "SFMono-Regular" , "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
}

svg {
  fill: black;
}
.dark svg {
  fill: white;
}

a {
  color: var(--main-link-color);
}

.background {
  background-color: var(--main-bg-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
blockquote {
  color: var(--main-content-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", "Apple Color Emoji",
    "Segoe UI Emoji", sans-serif;
}

p,
a,
ul,
li {
  font-size: large;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 200;
}

.date {
  font-family: "Georgia", serif;
  color: var(--main-content-color);
}

main {
  margin: 2% auto auto;
  width: 77%;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}

pre {
  isolation: isolate;
}

code {
  font-family: ui-monospace, Menlo, Consolas, "DejaVu Sans Mono", monospace;
}

img {
  width: 100%;
}

.caption {
  font-family: Georgia, Times, serif;
  color: grey;
  font-style: italic;
}
