<!DOCTYPE html>

<!-- Oh hi! Nice seeing you here. 👋
	 Clearly you must be a tech nerd like me. Or you just hit <F12> ...
	 Perhaps you came to steal my code...
	 I don't care, welcome! Steal away.
	 
	 Have fun reading my blog!
	 
	 ~ Milav Shah, <shahmilav@gmail.com> ~
	 GitHub: shahmilav
-->

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta name="theme-color" content="black" />

    <title>Aaah this page is missing!</title>

    <link
      crossorigin="anonymous"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      rel="stylesheet"
    />

    <link href="/css/style.css" rel="stylesheet" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link href="/css/onedark.css" rel="stylesheet" />

    <!--  Favicons -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicons/favicon-16x16.png"
    />
    <link rel="manifest" href="/favicons/site.webmanifest" />
  </head>

  <body class="page light background">
    {% include 'partials/header.html' %}

    <main>
      <h1>Wait, this page doesn't exist!</h1>

      <br />

      <h2>Code red! Error 404!</h2>
      <p>You probably know what this means...</p>
      <ul>
        <li>Go <a href="/">home</a>. No vanishing pages here.</li>
        <li>
          See all <a href="../posts">posts</a>. Don't worry, these posts
          <em>do</em> exist.
        </li>
      </ul>
    </main>

    <script src="/js/darkmode.js" defer></script>

    <script
      crossorigin="anonymous"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    ></script>
  </body>
</html>
