<header>
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black;">
    <div class="container-fluid">
      <button aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
              data-bs-target="#navbarTogglerDemo01" data-bs-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="/">{{ site.name }}</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/posts/">Posts</a>
          </li>

        </ul>

        <button id="darkmode-toggle" onclick="darkmode.toggle();" role="switch" style="background-color: black; border: 0px"
                type="checkbox"><i class="text-light bi bi-moon-fill" style="font-size: large"></i>
        </button>

      </div>
    </div>
  </nav>
</header>