<header>
  <nav
    class="navbar navbar-expand-lg navbar"
    id="nav"
  >
    <div class="container-fluid">
      <button
        aria-controls="navbarTogglerDemo01"
        aria-expanded="false"
        aria-label="Toggle navigation"
        class="navbar-toggler"
        data-bs-target="#navbarTogglerDemo01"
        data-bs-toggle="collapse"
        type="button"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a
          class="navbar-brand dev nav-text"
          href="/"
          >../</a
        >
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link dev nav-text"
              href="/posts/"
            
              >archive</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link dev nav-text"
              href="/whoami/"
              
              >whoami</a
            >
          </li>
        </ul>

        <div class="toggle form-switch">
          <input
            type="checkbox"
            role="switch"
            id="theme"
            class="toggle-input form-check-input"
          />
          <label
            for="theme"
            class="toggle-label dev"
          >
          ./dark
          </label>
        </div>
       
      </div>
    </div>
  </nav>
</header>
