<header>
  <nav
    class="navbar navbar-expand-lg navbar-dark"
    style="background-color: #1d2127"
  >
    <div class="container-fluid">
      <button
        aria-controls="navbarTogglerDemo01"
        aria-expanded="false"
        aria-label="Toggle navigation"
        class="navbar-toggler"
        data-bs-target="#navbarTogglerDemo01"
        data-bs-toggle="collapse"
        type="button"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a
          class="navbar-brand"
          href="/"
          style="font-family: Menlo, Consolas, DejaVu Sans Mono, monospace"
          >../</a
        >
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link"
              href="/posts/"
              style="font-family: Menlo, Consolas, DejaVu Sans Mono, monospace"
              >archive</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="/whoami/"
              style="font-family: Menlo, Consolas, DejaVu Sans Mono, monospace"
              >whoami</a
            >
          </li>
        </ul>

        <div class="toggle">
          <input
            type="checkbox"
            id="theme"
            class="toggle-input form-check-input"
          />
          <label
            for="theme"
            class="toggle-label text-light"
            style="font-family: Menlo, Consolas, DejaVu Sans Mono, monospace"
          >
./dark
          </label>
        </div>
       
      </div>
    </div>
  </nav>
</header>
